nav{
    background: linear-gradient(#0C1D36, #0f2b57);
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 20vh;
    padding: 0px 10px;
}

.logo {
    height: 100px;
  }
  
  .motto {
    color: #F9CC0B;
    font-family: "Times New Roman", Times, serif;
    font-style: italic;
  }

  .signBtn {
    background-color: #0C1D36;
    font-weight: bold;
    border: #F9CC0B 2px solid;
  }

  @media screen and (max-width: 480px) {
    .motto{
        display: none;
    }
  }